<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.greycardinal.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Grey Cardinal Daemon.app/Contents/MacOS/grey-cardinal-daemon</string>
    <string>--config</string>
    <string>~/Library/Application Support/GreyCardinal/Daemon/config.toml</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>~/Library/Logs/GreyCardinal/Daemon.log</string>
  <key>StandardErrorPath</key>
  <string>~/Library/Logs/GreyCardinal/Daemon.log</string>
</dict>
</plist>
